
<!-- <router-outlet></router-outlet> -->

<main>
    <div class="flex justify-center items-center h-screen">
        <div class="card transition duration-300 ease-in-out hover:shadow-sm flex flex-col border m-5 rounded">
            <h1 class="font-mono font-bold text-purple-900 text-lg leading-tight border-b p-3 px-5 my-0">App Simulation</h1>
        <div class="card-body p-4">
            <div class="btn-group">
                <button
                    type="button"

                    (click)="onSuccess()"
                    class="btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline border border-green-700 hover:bg-green-700 text-green-700 hover:text-white font-normal mr-1 py-2 px-4 rounded">
                    Success
                </button>
                <button
                    type="button"
                    (click)="onError()"
                    class="btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline border border-red-700 hover:bg-red-700 text-red-700 hover:text-white font-normal mr-1 py-2 px-4 rounded">
                    Error
                </button>
                <button
                    type="button"
                    (click)="onTimeout()"
                    class="btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline border border-yellow-500 hover:bg-yellow-500 text-yellow-700 hover:text-white font-normal py-2 px-4 rounded">
                    Time out
                </button>
            </div>
        </div>
        </div>
    </div>
</main>
